.rounded {
  border: 1px solid rgb(49, 101, 245);
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  margin: 2px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.title {
  text-align: center;
  text-decoration: underline;
  padding: 20px;
}

.screen {
  border-radius: 5px 5px 5px 5px;
  width: 600px;
  height: 600px;
  display: block;
  margin: auto;
}

footer  {
  text-align: center;
  }
  
#event {
  float: left;
  margin: 0 15px 0 0;
}

