
.rounded {
  border: 1px solid rgb(49, 101, 245);
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
  margin: 4px;
}
main {
  background: lightgray;
  height: 100%;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.title {
  padding: 20px;
  text-align: center;
  color:rgb(49, 101, 245);
}

p {
  font-size: 1em;
}

.screen {
  border-radius: 5px 5px 5px 5px;
  width: 600px;
  height: 600px;
  display: block;
  margin: auto;
  padding: auto;
}

footer  {
  text-align: center;
  background: rgb(49, 101, 245);
  }
  
.event {
  float: left;
  margin: 0 15px 0 0;
}

.box1 {
  padding: 50px;
}

.box2 {
  padding: 30px;
}

@media screen and (max-width:720px) and (orientation: portrait) {
  .event {
    display:none;
  }
  .screen {
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    height:50%;
    display: block;
    margin: auto;
  }
}

